<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
    <link rel="stylesheet" th:href="@{/login.css}">

</head>
<body>
<div class="container text-center" >
    <h1>Update user</h1>

    <form th:action="@{/save-user}" method="patch" th:object="${user}">

        <label for="id">Id</label>
        <input type="text" id="id" name="id" th:value="*{id}" readonly> <br>

        <label for="username">Username</label>
        <input type="text" id="username" name="username" required th:value="*{username}"> <br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required th:value="*{password}"> <br>

        <label for="fullname">Full name</label>
        <input type="text" id="fullname" name="fullname" required  th:value="*{fullname}"> <br>
        <input type="text" name="created" required  th:value="*{created}" hidden> <br>
        <input type="text" name="updated" required  th:value="*{updated}" hidden> <br>

        <button type="submit">Update</button>

    </form>
</div>

</body>
</html>