<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/login.css}">

</head>
<body>

<div class="container">


    <h2 th:text="'Commit delete user id: ' + ${id}"></h2>
    <form th:action="@{/commit-delete}">
        <input id="id" name="id" th:value="${id}" hidden>
        <button type="submit">Commit</button>
        <button type="button" onclick="cancel()">Cancel</button>
    </form>
    <br>
</div>

<script>
    function cancel() {
        window.location = "[[@{/users}]]"
    }

</script>

</body>
</html>