<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>

<div class="container">
    <h1>Login</h1>

    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required autofocus> <br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required> <br>

        <button type="submit">Login</button>

    </form>
</div>
<p th:text="${err}"></p>


</body>
</html>